.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-label {
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }

 
  #form2Example1{

    background-color: rgb(210, 226, 234);
  }
  .login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .welcome-message {
    font-size: 18px;
    font-weight: bold;
  }
  